<app-master></app-master>

<div class="buttons-container">
  <h2>
    Our Valued Clients </h2>
<p>"We are proud to have had the privilege of working with a diverse range of clients who have entrusted us with their projects. Here are some of the clients we've had the pleasure of serving."</p>
    <button (click)="showImages('builders')">Builders</button>
   
    <button (click)="showImages('hotel')">Hotel Clients</button>
    
    <button (click)="showImages('hospital')">Hospital Clients</button>
  </div>
  <div class="images-container" *ngIf="selectedCategory">
    <h2>{{ selectedCategory | titlecase }} Images</h2>
    <div class="image-grid">
      <div *ngFor="let image of getImageList(selectedCategory)">
        <img [src]="image" alt="Image">
      </div>
    </div>
  </div>
<app-footer></app-footer>
