<footer class="footer">
    <div class="footer-content">
      <div class="footer-logo">
        <img src="assets/watermark logo.jpg.png" alt="Logo">
      </div>
      <div class="contact-details">
        <p>Contact:8329826136</p>
        <p>Email: rushipandav@gmail.com</p>
        <p>Address: Rushikesh Properties <br>
                   Anjali-kunj,Dahanukar-A,<br>
                   Behind Kothrud Stand,Kothrud, <br>
                   Pune,Maharashtra-411038.
        </p>
      </div> 
      
    </div>
  </footer>
  
  <div class="Copyright"> <p>Copyright © 2023 Rushikesh Properties | Designed & developed by VEDIKA</p> </div>
