<app-master></app-master>

<div class="about-us-container">
    <h1>Our Services</h1>
    <p>
      Our services encompass a wide range of property types, from cozy homes to expansive commercial spaces. 
      With a customer-centric approach, we aim to exceed expectations and create lasting relationships. 
      Contact us for a smooth and efficient property sale experience, backed by a team that values your goals and strives for excellence in every transaction.
    </p>
    <div class="Our-services">
      <img src="assets/Our Services.jpeg" alt="Our Services">
    </div>
</div>
<body>
   <!-- Your Navbar HTML here -->


        <!-- Mission and Vision -->
        <div class="mission-vision-container">
            <div class="mission-vision-box">
                
                <img src="assets/redevelopment.jpg" alt="redevelopment">
            </div>

            <div class="mission-vision-box">
               
                <img src="assets/selling.jpg" alt="selling">
            </div>
        </div>

        <!-- Our Team -->
        <h3>Our Team</h3>
        <div class="team-container">
            <div class="team-member">
              <img src="assets/Logo.jpg" alt="Team Member 1">
              <div class="contact-details">
                <p>Name: Sunil Pandav</p>
                <p>Phone:9850023994</p>
                <p>Email: sunilpandav@gmail.com</p>
              </div>
            </div>
          
            <div class="team-member">
              <img src="assets/Logo.jpg" alt="Team Member 2">
              <div class="contact-details">
                <p>Name: Rushikesh Pandav</p>
                <p>Phone: 8329826136</p>
                <p>Email: rushipandav@gmail.com</p>
              </div>
            </div>
          </div>
          
   
</body>


<app-footer></app-footer>