<app-master></app-master>
<body>

  <div class="background">
    <img src="assets/Backgrond.jpg" alt="background">
  </div>
  
  <div>
    <h1>
      <span>"</span>
      <span>A</span>
      <span>House</span>
      <span>Is</span>
      <span>Not</span>
      <span>Just</span>
      <span>Made</span>
      <span>Of</span>
      <span>Break</span>
      <span>And</span>
      <span>Walls,</span>
      <span>It</span>
      <span>Is</span>
      <span>Made</span>
      <span>To</span>
      <span>Create</span>
      <span>Memories</span>
      <span>"</span>
    </h1>
  </div>
  
  <div class="content-box">
    <h2> We Build The Trust...!!</h2>
    <p>
      Our expertise lies in facilitating seamless property transactions with a focus on customer satisfaction. As a leading real estate agency, we specialize in the sale of residential, commercial, and investment properties. Our dedicated team of professionals possesses extensive market knowledge, ensuring that clients receive accurate and up-to-date information.
      We provide comprehensive services throughout the entire sales process, including property valuation, strategic marketing, and negotiations. Our commitment to transparency and integrity sets us apart, fostering trust between buyers and sellers. Whether you're looking to buy or sell a property, we offer personalized guidance to meet your specific needs.
    </p>
    <button onclick="window.location.href='app-about-us'">View More</button>
  </div>
  
  <div class="fancy-boxes">
    <div class="fancy-box">
      <blockquote><h2>{{ commertialCount }} <br>Commercial</h2></blockquote>
    </div>
    <div class="fancy-box">
      <blockquote><h2>{{ happyFamiliesCount }} <br>Happy Families</h2></blockquote>
    </div>
    <div class="fancy-box">
      <blockquote><h2>{{ propertiesSaleCount }} <br>Properties Sale</h2></blockquote>
    </div>
  </div>
  
  </body>

<app-footer></app-footer>
